head
	style
		include idmk.css
	meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
body
	form#cannon
		input#ammo(autocomplete='off' autofocus)

script(src="https://idmk.snowsore.com/js/socket.io.js")
script.
	(() => {
		const socket = io();
		socket.on('connect', () => {
			socket.emit('joinRoom', window.location.pathname.substr(7));
		});
		const ammo = document.getElementById('ammo');
		const cannon = document.getElementById('cannon');
		cannon.addEventListener('submit', (e) => {
			e.preventDefault();
			socket.emit('fire', ammo.value);
			ammo.value = '';
			return false;
		});
	})();
